body {
  font-family: Arial;
  padding: 20px;
}

.form_block {
  margin-bottom: 15px;
}

input {
  width: 260px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.error_msg {
  color: red;
  font-size: 14px;
}

.valid_box {
  border-color: green !important;
}

.invalid_box {
  border-color: red !important;
}

button {
  padding: 10px 22px;
  background: royalblue;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
