body {
    background-image: url(./assets/bg\ image.webp);
    background-size: 1700px;
    background-position: center;
}
li{
    list-style: none;
}
th {
    border: 1px solid black;
    padding: 8px;
}

td {
    border: 1px solid black;
    padding: 8px;
}
img {
    height:200px;
     margin-left: 120px;
     border-radius: 30%;
     border: 5px solid rgba(29, 28, 28, 0.341);
}