body {
    font-family: Verdana;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.main_box {
    width: 420px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

.btn_group {
    text-align: center;
    margin-bottom: 15px;
}

.btn_filter {
    padding: 8px 15px;
    background: #ff914d;
    border: none;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.btn_filter:hover {
    background: #ff6f1a;
}

#box_search {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
}

#show_list li {
    list-style: none;
    background: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 8px;
}
